*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#020817;
  color:white;
  font-family:Segoe UI,sans-serif;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#07121f;
}

.logo{
  font-size:28px;
  font-weight:bold;
}

.menu{
  display:flex;
  gap:30px;
}

.menu a{
  color:white;
  text-decoration:none;
}

.btn{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:linear-gradient(to right,#2dd4bf,#fb7185);
}

.hero{
  text-align:center;
  padding:120px 20px;
}

.hero h1{
  font-size:72px;
  line-height:1.1;
}

.hero p{
  margin-top:25px;
  color:#94a3b8;
  font-size:20px;
}

.hero-btn{
  margin-top:30px;
  padding:15px 30px;
  border:none;
  border-radius:10px;
}

.stats{
  display:flex;
  justify-content:center;
  gap:120px;
  padding:80px 20px;
}

.stats h2{
  font-size:48px;
  color:#22d3ee;
}

.stats p{
  color:#94a3b8;
}
.about-company{
  display:flex;
  justify-content:space-between;
  gap:40px;
  padding:100px 60px;
}

.about-left{
  flex:1;
}

.about-left h2{
  font-size:48px;
  margin-bottom:20px;
}

.about-left p{
  color:#94a3b8;
  line-height:1.8;
}

.numbers{
  display:flex;
  gap:60px;
  margin-top:40px;
}

.numbers h3{
  color:#22d3ee;
  font-size:42px;
}

.about-right{
  flex:1;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.box{
  background:#071827;
  border:1px solid #16324a;
  border-radius:20px;
  padding:40px;
  font-size:24px;
  font-weight:600;
}
